@import '../../../constants/styleConstants.scss';

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 350px;
    }
}

.detailsContainer {
    max-width: 350px;
}

.dataContainer {
    margin-bottom: 50px;

    h2 {
        font-size: 29px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.movieMetricsContainer {
    display: flex;
    gap: 20px;
    color: $greyText;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;

    p {
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;
            margin-right: 2px;
        }
    }
}

.hrContainer {
    margin-bottom: 30px;
    display: flex;
}
.hr {
    height: 1px;
    width: 75%;
    background-color: $primary;
    margin-left: auto;
    margin-right: auto;
}

.genre {
    margin-bottom: 15px;
    color: $greyText;
    text-align: center;

    span {
        margin-right: 10px;
    }
}

.summary {
    text-align: justify;
    line-height: 1.2;
}

.btnsContainer {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}
